build
src/include
lib/Makefile.am
test/Makefile.am
test/*/Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
*.pyc
atlocal.in
testsuite.at
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
version
configure
configure.ac
local/ocl_config.h.in
